# Frontend env defaults
AIRBEEPS_API_BASE_URL=http://localhost:8500/api
AIRBEEPS_APP_NAME="AirBeeps"
AIRBEEPS_BASE_URL=http://localhost:3000
NUXT_TELEMETRY_DISABLED=1
AIRBEEPS_ENABLE_OAUTH_PROVIDERS=false
